<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 让所有目标异步写入（可选） -->
		<default-wrapper xsi:type="AsyncWrapper"
                     name="default-wrapper"
                     queueLimit="1000000"
                     timeToSleepBetweenBatches="1"
                     batchSize="1000"
                     overflowAction="Block" />
		<!-- stdout：彩色高亮 -->
		<target name="logconsole"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="${date}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}${exception:format=StackTrace}}">
			<highlight-row condition="level == LogLevel.Warn"  foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<!-- stderr：只需 error="true" -->
		<target name="stderr"
            xsi:type="Console"
            error="true"
            layout="${date}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}${exception:format=StackTrace}}" />
	</targets>
	<rules>
		<!-- Info-Warn 级别 → 仅 stdout -->
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logconsole" />
		<!-- Error 及以上 → 同时写 stdout + stderr -->
		<logger name="*" minlevel="Error" writeTo="logconsole,stderr" />
	</rules>
</nlog>